
<table class="table-div">
  <tr>
    <td class="border-right">
      <table class="inner-table">
        <tr>
          <td>
            <p><strong>Mobile :</strong></p>
            <p>Alternate Mobile:</p>
            <!-- <p>Rasi Kattam:  </p> -->
          </td>
          <td>
             <p><strong>{{ contact }}</strong></p>
            <P>{{ alternate_number }}</P>
          </td>
        </tr>
      </table>
    </td>

    <td>
      <table class="inner-table">
        <tr>
          <td>
            
            <p><strong>Whatsapp:</strong></p>
            <p>Email:</p>
          </td>
          <td>
           
            <p><strong>{{ whatsapp }}</strong></p>
            <p>{{ email }}</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>