<style>
  .compatibility-page-wrapper {
    margin: 0px auto;
    text-align: center;
    width: 100%;
  }
  .compatibility-page-wrapper tr {
    margin: auto;
    text-align: center;
    width: 100%;
  }

  .compatibility-page-wrapper tr td {
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    margin: auto;
  }
  .compatability-table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 24px;
    background-color: #ffffff;
    font-size: 14px;
  }

  .compatability-table th {
    background-color: #ffffffff;
    color: #000000;
    font-size: 16px;
    padding: 10px 10px;
    text-align: center;
    border: 1px solid #000000;
  }

  .compatability-table td {
    padding: 10px;
    text-align: center;
    font-weight: 500;
    border: 1px solid #000000;
    color: #000000;
    padding: 5px 10px;
  }

  .compatability-table tr:nth-child(even) {
    background-color: #ffffffff;
  }

  .matching-score {
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
  }

  .compatability-table td span {
    font-size: 14px;
    font-weight: 600;
  }
  .compatability-table td span {
    color: #000000 !important;
  }
  .report-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border: 1px solid #000000;
  }
  .report-table tr {
    background-color: #ffffff;
    border: 1px solid #000000;
  }
  .report-table tr td {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    padding: 5px 0px;
  }
  .report-table tr td p {
    background-color: #ffffff;
    color: #000000;
  }
</style>

<table class="compatibility-page-wrapper">
  <tr>
    <td style="text-align: center; margin: 0 auto; padding: 0px 100px">
      <br />

      <h2 style="text-align: center; font-size: 20px">
        Marriage Compatibility Report
      </h2>

      <table class="table-div report-table">
        <tr>
          <td class="border-right">
            <p style="text-align: center">
              <b>{{my_name}} - {{my_profile_id}}</b>
            </p>
          </td>
          <td class="border-right">
            <p style="text-align: center"><b>{{name}} - {{profile_id}}</b></p>
          </td>
        </tr>
        <tr>
          <td class="sub-header border-right">
            <p style="text-align: center">
              <b>{{birth_rasi_my}} - {{birth_star_my}}</b>
            </p>
          </td>
          <td class="sub-header border-right">
            <p style="text-align: center">
              <b>{{birth_rasi}} - {{birth_star}}</b>
            </p>
          </td>
        </tr>
      </table>
      <br />

      <table class="table-div report-table">
        <tr>
          <td class="data-row border-right">
            <p style="text-align: center">
              Place of Birth : <b>{{my_birth_place}}</b>
            </p>
            <p style="text-align: center">
              Time of Birth : <b>{{my_time_of_birth}}</b>
            </p>
            <p style="text-align: center">Date Of Birth : <b>{{my_dob}}</b></p>
          </td>
          <td class="data-row border-right">
            <p style="text-align: center">
              Place of Birth : <b>{{birth_place}}</b>
            </p>
            <p style="text-align: center">
              Time of Birth : <b>{{birth_start}}</b>
            </p>
            <p style="text-align: center">Date Of Birth : <b>{{dob}}</b></p>
          </td>
        </tr>
      </table>
      <br />

      <table class="table-div report-table">
        <tr>
          <td class="data-row border-right">
            <p style="text-align: center">Height : <b>{{my_height}}</b></p>
            <p style="text-align: center">{{highest_education_my}}</p>
          </td>
          <td class="data-row border-right">
            <p style="text-align: center">Height : <b>{{height}}</b></p>
            <p style="text-align: center">{{highest_education}}</p>
          </td>
        </tr>
      </table>

      <table class="porutham-page">
        <tr>
          <td>
            <br />
            <div class="compatability-page">
              <h2
                class="compatability-table-title"
                style="text-align: center; font-size: 20px"
              >
                Nakshatra Porutham & Rasi Porutham
              </h2>
              <table class="compatability-table">
                <tr>
                  <th>Porutham Name</th>
                  <th>Status</th>
                  <th>Matching Score</th>
                </tr>
                {{porutham_rows | safe}}
              </table>
            </div>
          </td>
        </tr>
      </table>
      <table class="porutham-page" style="margin-top: 10px">
        <tr>
          <td>
            <table class="compatability-table">
              <tr>
                <td>
                  Our best wishes for finding your soulmate in Vysamala soon.
                  Please inform Vysamala if your marriage is fixed. Share your
                  engagement photo and receive a surprise gift. No commissions /
                  hidden charges. Jai Vasavi!
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
