
{% if horoscope_content == "empty"  %}
<div class="upload-horo-bg">
  <img
    src="https://vysyamat.blob.core.windows.net/vysyamala/pdfimages/uploadHoroFooter.png"
  />
</div>
{% else %}
  
  <div style="page-break-before: always;"></div>
<div class="upload-horo-bg">
  <img
    src="https://vysyamat.blob.core.windows.net/vysyamala/pdfimages/Horo-header-for-horoattached-format.png"
  />
</div>

<table class="upload-horo-image">
  <tr>
    <td>{{horoscope_content|safe}}</td>
  </tr>
</table>
<div class="upload-horo-bg">
  <img
    src="https://vysyamat.blob.core.windows.net/vysyamala/pdfimages/uploadHoroFooter.png"
  />
</div>
{% endif %}

