{% comment %} <style>
  .mt{
    margin-top: 2rem;
  }
</style> {% endcomment %}


<div class="inner-tabledata mt">
   <table class="outer2"> 
    <tr>
    <td>
   <table class="add-info2"> 
    <tr>
    <td>
  <p>
    Note: Please verify this profile yourself. No hidden charges or commissions if marriage is fixed through
      Vysyamala. For more details of this profile: 
    <a href="{{ view_profile_url }}" target="_blank" class="click-here2">click Here</a>
  </p>
   </td>
      </tr>
  </table>
  </td>
      </tr>
  </table>
</div>
