<table class="table-div">
  <tr>
    <td class="border-right">
      <table class="inner-table">
        <tr>
            <td><p><strong>Name</strong></p></td>
            <td><p><strong>{{name}}</strong></p></td>
        </tr>
        <tr>
            <td><p>DOB / POB</p></td>
            <td><p>{{dob}} / {{birth_place}}</p></td>
        </tr>
        <tr>
            <td><p>Complexion</p></td>
            <td><p>{{complexion}}</p></td>
        </tr>
        <tr>
            <td><p>Degree</p></td>
            <td><p>{{degree}}</p></td>
        </tr>
      </table>
    </td>

    <td>
      <table class="inner-table">
        <tr>
            <td><p><strong>Vysyamala Id :</strong></p></td>
            <td><p><strong>{{profile_id}}</strong></p></td>
        </tr>
        <tr>
            <td><p>Height / Photos </p></td>
            <td><p>{{height}} / {{image_status}}</p></td>
        </tr>
        <tr>
            <td><p>Annual Income </p></td>
            <td><p>{{annual_income}}</p></td>
        </tr>
        <tr>
            <td><p>Profession</p></td>
            <td><p>{{profession}} /{{occupation}}</p></td>
        </tr>
        <tr>
            <td><p>Place of stay </p></td>
            <td><p>{{work_place}}</p></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
                            
 <hr class="divider">

<table class="table-div">
  <tr>
    <td class="border-right">
      <table class="inner-table">
        <tr>
            <td><p><strong>Father Name</strong></p></td>
            <td><p><strong>{{father_name}}</strong></p></td>
        </tr>
        <tr>
            <td><p>Father Occupation</p></td>
            <td><p>{{father_occupation}}</p></td>
        </tr>
        <tr>
            <td><p>Family Status</p></td>
            <td><p>{{family_status}}</p></td>
        </tr>
        <tr>
            <td><p>Brothers/Married</p></td>
            <td><p>{{no_of_brother}}/{{no_of_brother_married}}</p></td>
        </tr>
      </table>
    </td>

    <td>
      <table class="inner-table">
        <tr>
          <td>
            <p><strong>Mother Name </strong></p>
            <p>Mother Occupation</p>
            <p>Sisters/Married</p>
          </td>
          <td>
            <p><strong>{{mother_name}}</strong></p>
            <p>{{mother_occupation}}</p>
            <p>{{no_of_sister}}/{{no_of_sister_married}}</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

 <hr class="divider">


<table class="table-div">
  <tr>
    <td class="border-right">
      <table class="inner-table">
        <tr>
          <td>
            <p><strong>Star/Rasi </strong></p>
            <p>Lagnam/Didi</p>
            <p>Nalikai</p>
          </td>
          <td>
            <p style="font-size:12px"><strong>{{birth_star}}, {{birth_rasi}}</strong></p>
            <p>{{lagnam}}/{{didi}}</p>
            <p>{{nalikai}}</p>
          </td>
        </tr>
      </table>
    </td>

    <td>
      <table class="inner-table">
        <tr>
          <td>
            <p><strong>Suya Gothram : </strong></p>
            <p>Madhulam</p>
            <p>Birth Time</p>
          </td>
          <td>
            <p><strong>{{suya_gothram}}</strong></p>
            <p>{{madulamn}}</p>
            <p>{{birth_start}}</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

 <hr class="divider">
