<table class="outer2">
  <tr>
    <td>
  <table class="table-div ">
  <tr>
    <td class="border-right">
      <table class="inner-table">
        <tr>
          <td>
            <p>Name</p>
          </td>
          <td>
            <p><strong>{{name}}</strong></p>
          </td>
        </tr>
        <tr>
          <td><p>DOB / POB</p></td>
          <td><p><strong>{{dob}} / {{birth_place}}</strong></p></td>
        </tr>
        <tr>
          <td><p>Complexion</p></td>
          <td><p><strong>{{complexion}}</strong></p></td>
        </tr>
        <tr>
            <td><p>Degree</p></td>
            <td><p><strong>{{degree}}</strong></p></td>
        </tr>
      </table>
    </td>

    <td>
      <table class="inner-table">
        <tr>
          <td>
            <p>Vysyamala Id :</p>
          </td>
          <td>
            <p><strong>{{profile_id}}</strong></p>
          </td>
        </tr>
        <tr>
          <td><p>Height / Photos</p></td>
          <td><p><strong>{{height}} / {{image_status}}</strong></p></td>
        </tr>
        <tr>
          <td><p>Annual Income</p></td>
          <td><p><strong>{{annual_income}}</strong></p></td>
        </tr>
        <tr>
            <td><p>Profession</p></td>
            <td><p><strong>{{profession}} /{{occupation}}</strong></p></td>
        </tr>
        <tr>
            <td><p>Place of stay </p></td>
            <td><p><strong>{{work_place}}<strong></p></td>
        </tr>
      </table>
    </td>
  </tr>
</table>


<table class="table-div">
  <tr>
    <td class="border-right">
      <table class="inner-table">
        <tr>
          <td>
            <p>Father Name</p>
          </td>
          <td>
            <p><strong>{{father_name}}</strong></p>
          </td>
        </tr>
        <tr>
          <td><p>Father Occupation</p></td>
          <td><p><strong>{{father_occupation}}</strong></p></td>
        </tr>
        <tr>
          <td><p>Family Status</p></td>
          <td><p><strong>{{family_status}}</strong></p></td>
        </tr>
        <tr>
          <td><p>Brothers/Married</p></td>
          <td><p><strong>{{no_of_brother}}/{{no_of_brother_married}}<strong></p></td>
        </tr>
      </table>
    </td>

    <td>
      <table class="inner-table">
        <tr>
          <td>
            <p>Mother Name</p>
            <p>Mother Occupation</p>
            <p>Sisters/Married</p>
          </td>
          <td>
            <p><strong>{{mother_name}}</strong></p>
            <p><strong>{{mother_occupation}}</strong></p>
            <p><strong>{{no_of_sister}}/{{no_of_sister_married}}</strong></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table class="table-div">
  <tr>
    <td class="border-right">
      <table class="inner-table">
        <tr>
          <td>
            <p>Star/Rasi</p>
            <p>Lagnam/Didi</p>
            <p>Nalikai</p>
          </td>
          <td>
            <p style="font-size:12px"><strong>{{birth_star}}{% if padham %} - {{ padham }} {% endif %}, {{birth_rasi}}</strong></p>
            <p><strong>{{lagnam}}/{{didi}}</strong></p>
            <p><strong>{{nalikai}}</strong></p>
          </td>
        </tr>
      </table>
    </td>

    <td>
      <table class="inner-table">
        <tr>
          <td>
            <p>Suya Gothram :</p>
            <p>Madhulam</p>
            <p>Birth Time</p>
          </td>
          <td>
            <p><strong>{{suya_gothram}}</strong></p>
            <p><strong>{{madulamn}}</strong></p>
            <p><strong>{{birth_start}}</strong></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</td>
  </tr>
</table>
