{% include 'pdf_templates/header.html' %}
  {% include 'pdf_templates/without_contact.html' %}

  {% include 'pdf_templates/horoscope_without_contact.html' %}
  {% comment %} <div style="page-break-before: always;"></div>
  {% include 'pdf_templates/matching_star_list.html' %}
  <br/>
  <br/> {% endcomment %}
  <div style="page-break-before: always;"></div>
{% if porutham_show %}
  {% include 'pdf_templates/compatability.html' %}
{% endif %}
<div class="upload-horo-bg">
  <img
    src="https://vysyamat.blob.core.windows.net/vysyamala/pdfimages/uploadHoroFooter.png"
  />
</div>
  <!-- Footer -->
<style>
  @page{
    size: A4;
    margin: 0;
  }
  .mt{
    margin-top: 2rem;
  }
</style>
  
</body>
</html>
